/*! Desktop Mode View */
/** Page Structures */
a {
    text-decoration: none !important;
    color: var(--cherokee);
}

a,
img,
.nav-link {
    -webkit-user-drag: none;
    user-select: none;
}

body {
    font-family: var(--font-primary) !important;
    background: var(--snow) !important;
    color: var(--black-russian);
}

button {
    box-shadow: none !important;
}

/** Pseudo-elements */
::placeholder {
    font-size: small;
}

::selection {
    background: var(--cherokee);
}

::-webkit-scrollbar {
    height: 0.625rem;
}

::-webkit-scrollbar-thumb {
    border-radius: 0.625rem;
    border: 4px solid var(--black-russian);
    background-color: var(--dim-gray);
}

::-webkit-scrollbar-track {
    background-color: var(--black-russian);
}

/** Pseudo-classes */
:root {
    /* Color (Color naming from: https://www.htmlcsscolor.com/) */
    --black-desaturated: #00000013;
    --black-russian: #232631;
    --cherokee: #FDC886;
    --dim-gray: #656565;
    --slate-blue: #5A4FCF;
    --slate-blue-desaturated: #5A4FCF1A;
    --snow: #FAFAFA;
    --white: #FFFFFF;
    /* Font */
    --font-primary: 'Poppins', sans-serif;
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--slate-blue);
}

a:hover {
    color: var(--slate-blue) !important;
}

button:active {
    transform: scale(0.9);
}

input:focus {
    border: 2px solid var(--slate-blue) !important;
    box-shadow: none !important;
}

.card-footer:hover {
    background-color: var(--cherokee) !important;
}

.fuddy-top-4:hover {
    box-shadow: 0px 2px 4px 0px var(--black-desaturated);
    background-color: var(--white) !important;
}

/** Selector (Class) */
.btn-primary {
    background-color: var(--cherokee) !important;
    color: var(--black-russian) !important;
}

.btn-secondary {
    background-color: var(--slate-blue-desaturated) !important;
    color: var(--slate-blue) !important;
}

.card {
    padding: 1rem;
}

.chef-at-restaurant {
    z-index: 1;
    top: 2175px;
}

.experience {
    z-index: 1;
    top: 1600px;
    left: 700px;
}

.icon-small {
    width: 0.75rem;
    height: 0.75rem;
}

.icon-medium {
    width: 1.5rem;
    height: 1.5rem;
}

.horizontal {
    vertical-align: middle;
}

.nav-link.active {
    border-bottom: 2px solid var(--slate-blue) !important;
}

.overview {
    z-index: 1;
    top: 250px;
}

.text-link {
    color: var(--cherokee);
}

.title {
    color: var(--slate-blue);
}